.button {
background-color:rgb(1, 1, 31);
color: aliceblue;
cursor: pointer;
font-size: 25px;
border-radius: 10px;
height: 50px;
width: 50px;
}
.button:hover{
    background-color: rgb(8, 8, 133);
}
.result
{
width: 159px;
height: 30;
border-radius: 5px;
text-align: end;
padding-top: 20px;
font-size: 25px;
background-color: rgb(255, 255, 255);
}
.calculator
{
background-color: rgb(193, 193, 230);
width: 230px;
height: 350;

}

h2{
    font-size: 50;
    color: rgb(8, 8, 133);
}

